<nav class="side-menu">
    <ul class="side-menu-list">
        <li class="grey with-sub">
            <span>
                <i class="font-icon font-icon-dashboard"></i>
                <span class="lbl">Dashboard</span>
            </span>
            <ul>
                <li><a href="/"><span class="lbl">Home</span><span class="label label-custom label-pill label-danger">new</span></a></li>

            </ul>
        </li>

    </ul>
    
    <ul class="side-menu-list">
        <li class="grey with-sub">
            <span>
                <i class="font-icon font-icon-user"></i>
                <span class="lbl">Account</span>
            </span>
            <ul>
                <li><a href="~/Account/Register"><span class="lbl">Register</span></a></li>
                <li><a href="~/Account"><span class="lbl">View</span></a></li>
                <li>@Html.ActionLink("Users", "Index", "Account")</li>
                <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                <li>@Html.ActionLink("Permissions", "Index", "Roles")</li>
            </ul>
        </li>
    </ul>

    <ul class="side-menu-list">
        <li class="grey with-sub">
            <span>
                <i class="font-icon font-icon-user"></i>
                <span class="lbl">Patients</span>
            </span>
            <ul>
                <li><a href="~/Patients/Index"><span class="lbl">View</span></a></li>
            </ul>
        </li>
    </ul>

    <ul class="side-menu-list">
        <li class="grey with-sub">
            <span>
                <i class="font-icon font-icon-user"></i>
                <span class="lbl">Appointment</span>
            </span>
            <ul>
                <li><a href="~/Appointment/Index"><span class="lbl">View</span></a></li>
            </ul>
        </li>
    </ul>

    <ul class="side-menu-list">
        <li class="grey with-sub">
            <span>
                <i class="font-icon font-icon-user"></i>
                <span class="lbl">Neonates Reports</span>
            </span>
            <ul>
                <li><a href="~/ChildBirths/Index"><span class="lbl">Births</span></a></li>
                <li><a href="~/ChildDeaths/Index"><span class="lbl">Deaths</span></a></li>
                <li><a href="~/BodyOuts/Index"><span class="lbl">Babys BO</span></a></li><!--image-->
                <li><a href="~/ChildBirths/Index"><span class="lbl">Certificate BBD</span></a></li><!--Certificate to be offered to parents of a baby born dead before 24 weeks' gestation-->
            </ul>
        </li>
    </ul>

    <ul class="side-menu-list">
        <li class="grey with-sub">
            <span>
                <i class="font-icon font-icon-user"></i>
                <span class="lbl">Drug Inventory</span>
            </span>
            <ul>
                <li><a href="~/DrugInventories/Index"><span class="lbl">View</span></a></li>
            </ul>
        </li>
    </ul>
</nav><!--.side-menu-->

