<nav class="side-menu">
    <ul class="side-menu-list">
        <li class="grey with-sub">
            <span>
                <i class="font-icon font-icon-dashboard"></i>
                <span class="lbl">Dashboard</span>
            </span>
            <ul>
                <li><a href="/"><span class="lbl">Home</span><span class="label label-custom label-pill label-danger">new</span></a></li>

            </ul>
        </li>

    </ul>
    
    <ul class="side-menu-list">
        <li class="grey with-sub">
            <span>
                <i class="font-icon font-icon-user"></i>
                <span class="lbl">Account</span>
            </span>
            <ul>
                <li><a href="~/Account/Register"><span class="lbl">Register</span></a></li>
                <li><a href="~/Account"><span class="lbl">View</span></a></li>
                <li>@Html.ActionLink("Users", "Index", "Account")</li>
                <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                <li>@Html.ActionLink("Permissions", "Index", "Roles")</li>
            </ul>
        </li>

    </ul>

</nav><!--.side-menu-->

