<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="HospitalModel.Properties.Settings.HOSPITAL_87bccc135ea8423f9cf88bea800206c5ConnectionString"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=HOSPITAL_87bccc135ea8423f9cf88bea800206c5;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>